<% provide :title, "About" %>
  <section id="page-head" class="page-head-section">
    <div class="page-head-overlay">
      <div class="container">
        <div class="row">
          <div class="page-head-content">
            <div class="page-head-style">
              <%= image_tag src="page-head-style.png" %>
            </div>
            <div class="page-head-title text-uppercase">
              <h2>about us</h2>
            </div>
            <div class="page-breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="home-1.html"><span class="mr5 ti-home"></span>Home</a></li>
                <li class="breadcrumb-item active">About Us</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /page-head-overlay -->
  </section>

  <section id="way-help" class="way-help-section">
    <div class="container">
      <div class="row section-content">
        <div class="section-title text-center">
          <div class="section-title-text text-uppercase">
            <p>YOUR SUPPORT APPRECIATED</p>
          </div>
          <div class="section-title-text">
            <h2>Some Ways To Help</h2>
          </div>
        </div>
        <!-- /section-title -->
        <div class="way-help-section-content">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="way-help-pic-text text-center colmd3">
                <div class="way-help-pic pb30">
                  <%= image_tag src="help-4.png" %>
                </div>
                <!-- /img -->
                <div class="way-help-text">
                  <div class="way-help-head pb20 text-uppercase">
                    <h3 class="black">MAKE DONATION</h3>
                  </div>
                  <div class="way-help-text-content">
                    <p>Excepteur sint occaecat cupidatat non proident suntin culpa</p>
                  </div>
                </div>
                <!-- /text -->
                <div class="hover-content">
                  <div class="way-help-head pb20 text-uppercase">
                    <h3 class="red">MAKE DONATION</h3>
                  </div>
                  <div class="way-help-text-content pb20">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                  </div>
                  <div class="way-help-pic pb30">
                    <a href="#"><span class="red ti-plus"></span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /col-sm-3 -->

            <div class="col-md-3 col-sm-6">
              <div class="way-help-pic-text text-center colmd3">
                <div class="way-help-pic pb30">
                  <%= image_tag src="help-2.png" %>
                </div>
                <!-- /img -->
                <div class="way-help-text">
                  <div class="way-help-head pb20 text-uppercase">
                    <h3 class="black">BECOME VOLUNTEER</h3>
                  </div>
                  <div class="way-help-text-content">
                    <p>Excepteur sint occaecat cupidatat non proident suntin culpa</p>
                  </div>
                </div>
                <!-- /text -->
                <div class="hover-content">
                  <div class="way-help-head pb20 text-uppercase">
                    <h3 class="red">BECOME VOLUNTEER</h3>
                  </div>
                  <div class="way-help-text-content pb20">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                  </div>
                  <div class="way-help-pic pb30">
                    <a href="#"><span class="red ti-plus"></span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /col-sm-3 -->

            <div class="col-md-3 col-sm-6">
              <div class="way-help-pic-text text-center colmd3">
                <div class="way-help-pic pb30">
                  <%= image_tag src="help-3.png" %>
                </div>
                <!-- /img -->
                <div class="way-help-text">
                  <div class="way-help-head pb20 text-uppercase">
                    <h3 class="black">SUPPORT US</h3>
                  </div>
                  <div class="way-help-text-content">
                    <p>Excepteur sint occaecat cupidatat non proident suntin culpa</p>
                  </div>
                </div>
                <!-- /text -->
                <div class="hover-content">
                  <div class="way-help-head pb20 text-uppercase">
                    <h3 class="red">SUPPORT US</h3>
                  </div>
                  <div class="way-help-text-content pb20">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                  </div>
                  <div class="way-help-pic pb30">
                    <a href="#"><span class="red ti-plus"></span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /col-sm-3 -->

            <div class="col-md-3 col-sm-6">
              <div class="way-help-pic-text text-center colmd3">
                <div class="way-help-pic pb30">
                  <%= image_tag src="help-4.png" %>
                </div>
                <!-- /img -->
                <div class="way-help-text">
                  <div class="way-help-head pb20 text-uppercase">
                    <h3 class="black">OUR PROGRAMS</h3>
                  </div>
                  <div class="way-help-text-content">
                    <p>Excepteur sint occaecat cupidatat non proident suntin culpa</p>
                  </div>
                </div>
                <!-- /text -->
                <div class="hover-content">
                  <div class="way-help-head pb20 text-uppercase">
                    <h3 class="red">OUR PROGRAMS</h3>
                  </div>
                  <div class="way-help-text-content pb20">
                    <p>Duis aute irure dolor in reprehend-erit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                  </div>
                  <div class="way-help-pic pb30">
                    <a href="#"><span class="red ti-plus"></span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /col-sm-3 -->
          </div>
        </div><!-- /way-help-section-content -->
      </div><!-- /row-->
    </div><!-- /container -->
  </section>

  <section id="countdown-area" class="countdown-section">
    <div class="container">
      <div class="row section-content">
        <div class="countdown-section-content">
          <div class="row">
            <div class="col-md-6">
              <div class="about-slider-text">
                <div class="about-slider-text-head pb40">
                  <h2 class="black">Usmod tempor incididunt ut labore et  magna aliqua.</h2>
                </div>
                <div class="about-slider-text-details pb20">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                </div>
                <div class="about-slider-text-details">
                  <p>Consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium. </p>
                </div>
              </div>
            </div>
            <!-- /col-md-6 -->
            <div class="col-md-6">
              <div class="about-us count-right-img pl30 colmd6">
                <div class="about-us-slider">
                  <div class="about-us-slider-img">
                    <%= image_tag src="count-right.jpg" %>
                  </div>
                  <div class="about-us-slider-img">
                    <%= image_tag src="count-right.jpg" %>
                  </div>
                  <div class="about-us-slider-img">
                    <%= image_tag src="count-right.jpg" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /container -->
  </section>

  <section id="our-volunteer" class="our-volunteer-section">
    <div class="container">
      <div class="row section-content">
        <div class="section-title text-center">
          <div class="section-title-text text-uppercase">
            <p>meet our volunteer </p>
          </div>
          <div class="section-title-text">
            <h2>Our Volunteer</h2>
          </div>
        </div>
        <!-- /title -->
        <div class="volunteer-slide">
          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-1.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-2.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-3.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-4.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->


          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-1.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-2.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-3.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-4.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-1.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-2.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-3.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->

          <div class="our-volunteer-section-content colmd3">
            <div class="volunteer-pic-text">
              <div class="volunteer-pic">
                <%= image_tag src="member-4.jpg" %>
              </div>
              <div class="volunteer-text">
                <div class="name-designation text-center">
                  <div class="volunteer-name">
                    <a class="red" href="#">Islam vai</a>
                  </div>
                  <div class="volunteer-designation">
                    <p>SEO Specialist</p>
                  </div>
                </div>
              </div>
              <div class="volunteer-icon">
                <div class="icon-hover">
                  <span class="ti-plus"></span>
                </div>
                <div class="volunteer-social-icon">
                  <ul class="volunteer-social-icon-list text">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /our-volunteer-section-content -->
        </div>
      </div>
    </div>
  </section>

  <section id="our-impact" class="our-impact-section">
    <div class="container">
      <div class="row section-content">
        <div class="our-impact-section-content">
          <div class="row">
            <div class="col-sm-8">
              <div class="section-title text-center pull-left">
                <div class="section-title-text text-uppercase text-left">
                  <p>HAVE A LOOK</p>
                </div>
                <div class="section-title-text text-left pb35">
                  <h2>Our Impact</h2>
                </div>
                <div class="section-title-text-1 text-left">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                </div>
              </div>
              <!-- /section-title -->
              <div class="impact-achieve">
                <div class="row">
                  <div class="col-sm-4 col-xs-6">
                    <div class="impact-achieve-content clearfix">
                      <div class="impact-achievet-icon-text text-left">
                        <div class="impact-achieve-icon">
                          <span class="red ti-gift"></span>
                        </div>
                        <div class="impact-achieve-text text-uppercase">
                          <span class="dolor">$</span><span class="count">695437</span>
                          <p>RAISED</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /1st-count -->

                  <div class="col-sm-4 col-xs-6">
                    <div class="impact-achieve-content">
                      <div class="impact-achievet-icon-text text-left">
                        <div class="impact-achieve-icon">
                          <span class="red ti-receipt"></span>
                        </div>
                        <div class="impact-achieve-text text-uppercase">
                          <span class="count">2569</span>
                          <p>events</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /1st-count -->

                  <div class="col-sm-4 col-xs-12">
                    <div class="impact-achieve-content">
                      <div class="impact-achievet-icon-text text-left">
                        <div class="impact-achieve-icon">
                          <span class="red ti-crown"></span>
                        </div>
                        <div class="impact-achieve-text text-uppercase">
                          <span class="count">3750</span>
                          <p>doner</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /1st-count -->
                </div>
              </div>
            </div>
            <!-- /col-md-8 -->
            <div class="col-sm-4">
              <div class="impact-left-content">
                <div class="top-border">
                  <span class="border-1"></span>
                  <span class="border-2"></span>
                  <span class="border-3"></span>
                </div>
                <div class="become-member">
                  <div class="become-member-head pb30">
                    <h3 class="black">Become a Part Of the World</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                  </div>
                  <div class="become-member-form">
                    <form action="#" method="post">
                      <div class="contact-info mb20">
                        <input class="name" name="name" type="text" placeholder="Name">
                      </div>
                      <div class="contact-info mb20">
                        <input class="name" name="name" type="text" placeholder="Email">
                      </div>
                      <div class="contact-select pb40">
                        <select>
                          <option value="volvo">Subject</option>
                          <option value="saab">Issue</option>
                          <option value="mercedes">Events</option>
                          <option value="audi">Occation</option>
                        </select>
                      </div>
                      <div class="become-member-button text-center">
                        <button type="submit" value="Submit">BECOME  A VOLuNTeER</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /our-impact-section-content -->
      </div><!-- /row -->
    </div><!-- /container -->
  </section>

  <section id="can-we-do" class="can-we-do-section">
    <div class="container">
      <div class="row section-content">
        <div class="section-title text-center">
          <div class="section-title-text text-uppercase">
            <p>YOU MIGHT INTEREST</p>
          </div>
          <div class="section-title-text">
            <h2>What Can We Do</h2>
          </div>
        </div>
        <!-- /section-title -->

        <div class="can-we-do-section-content">
          <div class="row">
            <div class="col-md-3">
              <div class="we-can-do-text-icon  text-center colmd3">
                <div class="we-can-do-icon">
                  <span class="red ti-crown"></span>
                </div>
                <div class="we-can-do-text">
                  <h3 class="we-can-do-head red"> <a href="#">Croud Funding</a></h3>
                </div>
                <div class="hide-icon">
                  <span class="red ti-crown"></span>
                </div>
                <div class="hide-text text-left">
                  <p>Modi tempora incidunt ut labore et dolore magnam voluptatem...</p>
                </div>
              </div>
            </div>
            <!-- /col-md-3 -->

            <div class="col-md-3">
              <div class="we-can-do-text-icon  text-center colmd3">
                <div class="we-can-do-icon">
                  <span class="red ti-heart"></span>
                </div>
                <div class="we-can-do-text">
                  <h3 class="we-can-do-head red"><a href="#">Make Donation</a></h3>
                </div>
                <div class="hide-icon">
                  <span class="red ti-heart"></span>
                </div>
                <div class="hide-text text-left">
                  <p>Modi tempora incidunt ut labore et dolore magnam voluptatem...</p>
                </div>
              </div>
            </div>
            <!-- /col-md-3 -->

            <div class="col-md-3">
              <div class="we-can-do-text-icon  text-center colmd3">
                <div class="we-can-do-icon">
                  <span class="red ti-support"></span>
                </div>
                <div class="we-can-do-text">
                  <h3 class="we-can-do-head red"><a href="#">Medical Support</a></h3>
                </div>
                <div class="hide-icon">
                  <span class="red ti-support"></span>
                </div>
                <div class="hide-text text-left">
                  <p>Modi tempora incidunt ut labore et dolore magnam voluptatem...</p>
                </div>
              </div>
            </div>
            <!-- /col-md-3 -->

            <div class="col-md-3">
              <div class="we-can-do-text-icon  text-center colmd3">
                <div class="we-can-do-icon">
                  <span class="red ti-book"></span>
                </div>
                <div class="we-can-do-text">
                  <h3 class="we-can-do-head red"><a href="#">Education Fund</a></h3>
                </div>
                <div class="hide-icon">
                  <span class="red ti-book"></span>
                </div>
                <div class="hide-text text-left">
                  <p>Modi tempora incidunt ut labore et dolore magnam voluptatem...</p>
                </div>
              </div>
            </div>
            <!-- /col-md-3 -->

            <div class="col-md-3">
              <div class="we-can-do-text-icon  text-center colmd3">
                <div class="we-can-do-icon">
                  <span class="red ti-timer"></span>
                </div>
                <div class="we-can-do-text">
                  <h3 class="we-can-do-head red"><a href="#">Event Organize</a></h3>
                </div>
                <div class="hide-icon">
                  <span class="red ti-timer"></span>
                </div>
                <div class="hide-text text-left">
                  <p>Modi tempora incidunt ut labore et dolore magnam voluptatem...</p>
                </div>
              </div>
            </div>
            <!-- /col-md-3 -->

            <div class="col-md-3">
              <div class="we-can-do-text-icon  text-center colmd3">
                <div class="we-can-do-icon">
                  <span class="red ti-wheelchair"></span>
                </div>
                <div class="we-can-do-text">
                  <h3 class="we-can-do-head red"><a href="#">Help Disability</a></h3>
                </div>
                <div class="hide-icon">
                  <span class="red ti-wheelchair"></span>
                </div>
                <div class="hide-text text-left">
                  <p>Modi tempora incidunt ut labore et dolore magnam voluptatem...</p>
                </div>
              </div>
            </div>
            <!-- /col-md-3 -->

            <div class="col-md-3">
              <div class="we-can-do-text-icon  text-center colmd3">
                <div class="we-can-do-icon">
                  <span class="red ti-paint-bucket"></span>
                </div>
                <div class="we-can-do-text">
                  <h3 class="we-can-do-head red"><a href="#">Blood Donation</a></h3>
                </div>
                <div class="hide-icon">
                  <span class="red ti-paint-bucket"></span>
                </div>
                <div class="hide-text text-left">
                  <p>Modi tempora incidunt ut labore et dolore magnam voluptatem...</p>
                </div>
              </div>
            </div>
            <!-- /col-md-3 -->

            <div class="col-md-3">
              <div class="we-can-do-text-icon  text-center colmd3">
                <div class="we-can-do-icon">
                  <span class="red ti-gift"></span>
                </div>
                <div class="we-can-do-text">
                  <h3 class="we-can-do-head red"><a href="#">Gift Collection</a></h3>
                </div>
                <div class="hide-icon">
                  <span class="red ti-gift"></span>
                </div>
                <div class="hide-text text-left">
                  <p>Modi tempora incidunt ut labore et dolore magnam voluptatem...</p>
                </div>
              </div>
            </div>
            <!-- /col-md-3 -->
          </div>
        </div>
      </div><!-- /row -->
    </div><!-- /container -->
  </section>

  <section id="video-bg">
    <div class="video-bg-section">
      <div class="overlay">
        <div class="container">
          <div class="row section-content">
            <div class="section-title text-center">
              <div class="section-title-text">
                <h2>Lorem ipsum dolor sit amet consecte <span class="red">adipisicing elit sed do eiusmod</span></h2>
              </div>
            </div>
            <!-- /section-title -->
            <div class="video-play-section">
              <div class="video-play-content">
                <div class="video-play-img">
                  <%= image_tag src="video-play-bg.jpg" %>
                </div>
                <div class="play-icon-text text-center text-uppercase">
                  <div class="play-text text-uppercase mt25 pull-left">
                    <p>check the palyer to </p>
                  </div>
                  <div class="play-icon pull-left">
                    <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=syFZfO_wfMQ"><span class="red ti-control-play "></span></a>
                  </div>
                  <div class="play-text text-uppercase mt25 pull-left">
                    <p>watch the overview </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="latest-news" class="latest-news-section">
    <div class="container">
      <div class="row section-content">
        <div class="latest-news-content">
          <div class="row">
            <div class="col-sm-7">
              <div class="section-title">
                <div class="section-title-text text-uppercase text-left">
                  <p>YOU MIGHT INTEREST</p>
                </div>
                <div class="section-title-text text-left">
                  <h2>Latest News</h2>
                </div>
              </div>
              <!-- /section-title -->
              <div class="latest-news-date-text-content">
                <div class="latest-news-date-text pb20">
                  <div class="latest-news-date pull-left mr45">
                    <span class="date pull-left">15</span>
                    <span class="month text-uppercase pull-left">january</span>
                    <span class="year">2017</span>
                  </div>
                  <!-- /latest-news-date-text -->
                  <div class="latest-news-text">
                    <div class="latest-news-head">
                      <h3><a href="#">Consectetur adipisicing elit sed</a> </h3>
                    </div>

                    <!-- /latest-news-text -->
                    <div class="latest-news-meta mt10">
                      <div class="meta">
                        <ul class="meta-list">
                          <li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Tonmoy</a></li>
                          <li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="latest-news-text-details mt10">
                      <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit an...</p>
                    </div>
                  </div>
                </div>
                <!-- /latest-news-date-text -->

                <div class="latest-news-date-text pb10 mt25">
                  <div class="latest-news-date pull-left mr45">
                    <span class="date pull-left">20</span>
                    <span class="month text-uppercase pull-left">january</span>
                    <span class="year">2017</span>
                  </div>
                  <!-- /latest-news-date-text -->
                  <div class="latest-news-text">
                    <div class="latest-news-head">
                      <h3><a href="#">Consectetur adipisicing elit sed</a></h3>
                    </div>

                    <!-- /latest-news-text -->
                    <div class="latest-news-meta mt10">
                      <div class="meta">
                        <ul class="meta-list">
                          <li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Tonmoy</a></li>
                          <li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="latest-news-text-details mt10">
                      <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit an...</p>
                    </div>
                  </div>
                </div>
                <!-- /latest-news-date-text -->

                <div class="latest-news-date-text pb10 mt25">
                  <div class="latest-news-date pull-left mr45">
                    <span class="date pull-left">26</span>
                    <span class="month text-uppercase pull-left">january</span>
                    <span class="year">2017</span>
                  </div>
                  <!-- /latest-news-date-text -->
                  <div class="latest-news-text">
                    <div class="latest-news-head">
                      <h3><a href="#">Consectetur adipisicing elit sed</a></h3>
                    </div>

                    <!-- /latest-news-text -->
                    <div class="latest-news-meta mt10">
                      <div class="meta">
                        <ul class="meta-list">
                          <li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Tonmoy</a></li>
                          <li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="latest-news-text-details mt10">
                      <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit an...</p>
                    </div>
                  </div>
                </div>
                <!-- /latest-news-date-text -->
              </div>
            </div>
            <!-- /col-md-7 -->
            <div class="col-sm-5">
              <div class="latest-news-slide-content">
                <div class="latest-news-slide text-center">
                  <div class="slide-quate-pic pb60">
                    <%= image_tag src="quate.png" %>
                  </div>
                  <!-- /slide-quate-pic -->
                  <div class="slide-text pb60">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia eaque ipsa quae ab illo.
                    </p>
                  </div>
                  <!-- /slide-text -->
                  <div class="quate-client-pic-text">
                    <div class="quate-client-pic pb60">
                      <div class="author-pic">
                        <%= image_tag src="quate-pic.jpg" %>
                      </div>
                    </div>
                    <div class="quate-client-text pb30">
                      <span class="client-name"><a href="#">Tamanna</a></span>
                      <span class="designation">CEO, CodexPond</span>
                    </div>
                  </div>
                  <!-- /quate-client-pic-text -->
                </div>
                <!-- latest-news-slide -->

                <div class="latest-news-slide text-center">
                  <div class="slide-quate-pic pb60">
                    <%= image_tag src="quate.png" %>
                  </div>
                  <!-- /slide-quate-pic -->
                  <div class="slide-text pb60">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia eaque ipsa quae ab illo.
                    </p>
                  </div>
                  <!-- /slide-text -->
                  <div class="quate-client-pic-text">
                    <div class="quate-client-pic pb60">
                      <div class="author-pic">
                        <%= image_tag src="quate-pic.jpg" %>
                      </div>
                    </div>
                    <div class="quate-client-text pb30">
                      <span class="client-name"><a href="#">Tamanna</a></span>
                      <span class="designation">CEO, CodexPond</span>
                    </div>
                  </div>
                  <!-- /quate-client-pic-text -->
                </div>
                <!-- latest-news-slide -->

                <div class="latest-news-slide text-center">
                  <div class="slide-quate-pic pb60">
                    <%= image_tag src="quate.png" %>
                  </div>
                  <!-- /slide-quate-pic -->
                  <div class="slide-text pb60">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia eaque ipsa quae ab illo.
                    </p>
                  </div>
                  <!-- /slide-text -->
                  <div class="quate-client-pic-text">
                    <div class="quate-client-pic pb60">
                      <div class="author-pic">
                        <%= image_tag src="quate-pic.jpg" %>
                      </div>
                    </div>
                    <div class="quate-client-text pb30">
                      <span class="client-name"><a href="#">Tamanna</a></span>
                      <span class="designation">CEO, CodexPond</span>
                    </div>
                  </div>
                  <!-- /quate-client-pic-text -->
                </div>
                <!-- latest-news-slide -->

              </div>
            </div>
            <!-- /col-md-5 -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="partner" class="partner-section">
    <div class="container">
      <div class="row">
        <div class="partner-section-slider">
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-1.png" %></a>
          </div>
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-2.png" %></a>
          </div>
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-3.png" %></a>
          </div>
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-4.png" %></a>
          </div>
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-2.png" %></a>
          </div>
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-3.png" %></a>
          </div>
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-4.png" %></a>
          </div>
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-2.png" %></a>
          </div>
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-4.png" %></a>
          </div>
          <div class="partner-pic">
            <a href=""><%= image_tag src="partner-1.png" %></a>
          </div>
        </div>
      </div>
    </div>
  </section>

