<% provide :title, 'Sign up' %>

  <section id="page-head" class="page-head-section">
    <div class="page-head-overlay">
      <div class="container">
        <div class="row">
          <div class="page-head-content">
            <div class="page-head-style">
              <%= image_tag src="page-head-style.png" %>
            </div>
            <div class="page-head-title text-uppercase">
              <h2>sign up</h2>
            </div>
            <div class="page-breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="home-1.html"><span class="mr5 ti-home"></span>Home</a></li>
                <li class="breadcrumb-item active">Sign up</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /page-head-overlay -->
  </section>

  <section id="way-help" class="way-help-section">
    <div class="container">
      <div class="row section-content">

       <div class="section-title text-center">
          <div class="section-title-text text-uppercase">
            <h2>Sign up</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 form-group">
            <%= form_for(@user, url: signup_path) do |f| %>
            <%= render 'shared/error_messages' %>
            <%= f.label :name %><br>
            <%= f.text_field :name, class: "form-control" %><br>

            <%= f.label :email %><br>
            <%= f.email_field :email, class: "form-control" %><br>

            <%= f.label :password %><br>
            <%= f.password_field :password, class: "form-control" %><br>

            <%= f.label :password_confirmation, "Confirmation" %><br>
            <%= f.password_field :password_confirmation, class: "form-control" %><br>

            <%= f.submit "Create my account", class: "btn btn-primary" %><br>
            <% end %>
            <%= link_to "Create account with Facebook?", "#" %>
          </div>



        </div>
      </div>
    </div>
  </section>

